:root {
	--footer-height-px: 45.6px;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight: normal;

	text-rendering: optimizeLegibility;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dotted;
}

a:hover {
	border-bottom: 1px solid;
}

/* Header + Body */
#main {
	height: calc(100% - var(--footer-height-px));
	width: 100%;

	position: absolute;
	overflow-y: scroll;
}

/* Body (Hook + Contact + Examples) */
#content {
	height: inherit;
}

/* Hook */
#hook {
	min-height: 40%;
}

/* Contact */
#contact {
	min-height: 20%;
}

/* Examples */
#examples {
	min-height: 40%;
}

/* ---------- Generic classes ---------- */

.header {
	font-weight: lighter;
	font-size: 14pt;
}

.bottom {
	width: 100%;

	position: fixed;
	bottom: 0;
}

.box {
	padding: 10px;
}

/* Body box styling */
#content .box {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

/* Horizontal flexbox (with scrolling) */
.horizontal-scroll-wrapper {
	height: 20%;
	width: 100%;

	display: flex;

	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Horizontal center without justify-content overflow issues */
.horizontal-scroll-wrapper::before, .horizontal-scroll-wrapper::after {
	content: '';  /* Insert pseudo-element */
	margin: auto; /* Make it push flex items to the center */
}

.horizontal-scroll-wrapper > a {
	margin: 10px;

	flex: 0 0 auto;
	background-color: black;

	border-bottom: none;
}

.horizontal-scroll-wrapper > a:hover {
	border-bottom: none;
}

/* Website Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 120px;
}

.card:hover, .card:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card > img {
	width: 100%;
}

.card-body {
  padding: 2px 16px;
}

/* Colors */
.red {
	background: hsl(0, 68%, 50%);
}

.blue {
	background: hsl(220, 68%, 50%);
}

.green {
	background: hsl(104, 49%, 44%);
}

.yellow {
	background: hsl(45, 99%, 48%);
}

/* Responsive breakpoints */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /*[class*="col-"] {
	width: 100%;
  }*/
}